// 打字机效果
.typewriter {
  position: relative;
  padding: 0 10px;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;

  /** 通过 DOM 设置的属性 
   * --typing-duration: 根据实际动画时间来设置
   * --typing-steps: 根据实际文本长度来设置
   */
  animation: 
    fade-in 5s ease-in-out 3s forwards,
    typing var(--typing-duration) steps(var(--typing-steps), end) infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// 光标效果
.typewriter::after {
  content: '|';
  position: absolute;
  right: 0;
  color: #fff;
  animation: caret .5s steps(1) infinite;
}

@keyframes typing {
  0%, 100%  {
    max-width: 0;
  }

  50% {
    max-width: 100%;
  }
}

@keyframes caret {
  50% { 
    color: transparent;
  }
}

// 通过 DOM 为每个字符设置 <span /> 标签
.character {
  display: inline-block;
  animation: pop-in .5s infinite;
}

@keyframes pop-in {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
