.header {
  display: flex;
  margin-bottom: 20px;

  .left {
    flex: 1;
  }

  .right{
    flex: 1;
    text-align: right;
  }
}

.content {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
