@use "sass:color";

.container {
  padding: 20px;
  min-height: 100dvh;
  overflow-y: hidden;
  background-image: 
    linear-gradient(to top left, rgb(235 243 255) 60%, rgb(255 255 0 / 0%) 70%),
    linear-gradient(to bottom right, rgb(235 235 65 / 90%) 50%, rgb(255 255 255 / 0%) 50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 80px;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    font-family: "PressStart2P", sans-serif;
    white-space: nowrap;
    line-height: 1.5;
    user-select: none;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    margin: 0 auto;
    font-size: 18px;
    z-index: 2;

    & > a {
      color: #171717;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      transition: color 0.3s;
    }

    & > a:hover {
      color: #007bff;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  height: 800px;
  padding: 0 80px;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 20px 0;

    h1.title {
      margin-top: 50px;
      font-size: 64px;
      font-weight: 700;
      line-height: 2;
      animation: fade-in-bottom 1.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;      
    }

    .description {
      max-width: 350px;
      animation: fade-in-bottom 1.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .05s both;

      & p:nth-child(1) {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }

      & p:nth-child(2) {
        font-size: 14px;
        font-weight: 300;
        transition: color 0.3s;
        
        &:hover {
          color: #ff0800;
        }
      }
    }

    .action {
      margin-top: 20px;
      margin-bottom: auto;
      animation: fade-in-bck 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;

      .btn {
        width: 120px;
        margin-top: 100px;
        padding: 10px 20px;
        border: 2px solid #333;
        border-radius: 20px;
        background-color: #ff4500;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: color.adjust(#ff4500, $lightness: 10%);
          border: 2px solid #555;
          color: #1b1a1a;
        }
  
        &:active {
          background-color: color.adjust(#ff4500, $lightness: -10%);
          border: 2px solid #111;
          color: #1b1a1a;
          transform: scale(0.95);
        }
      }

      .pointer {
        animation-name: floating;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        position: relative;
        top: 100px;
        left: -40px;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      .follow {
        font-size: 15px;
        font-weight: 500;
        color: #827e7ec1;
        user-select: none;
      }
      
      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
          transition: opacity .3s;

          &:hover {
            opacity: .6;
            outline: 0; 
          }

          img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(350px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px) translateX(-10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
