@use "sass:color";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  div {
    width: 220px;
  }
}
