.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .logo {
    cursor: pointer;
    transition: all 0.35s ease-in-out;
  }

  h1.title {
    font-size: 22px;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
    user-select: none;
    transition: all 0.35s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.1);
    color: tomato;
    
    & + h1.title {
      color: tomato;
    }
  }
}
