.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding-top: 40dvh;
  font-family: 'DouYu Font', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
  background-image: linear-gradient(20deg, #0062be, #925696, #cc426e, #fb0347);  
  user-select: none;

  .title {
    font-size: 48px;
    font-weight: 500;
    line-height: 2;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  .icon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;
    animation: 
      text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both,
      icon-fade-out 1.5s ease-in-out both infinite;
  }
}

.new-screen {
  width: 100%;
  height: 100dvh;
  background: #1f4f7f;
  color: #fff;
}

.expand-screen1 {
  width: 100%;
  height: 100dvh;
  background: #4f1f7f;
  color: #fff;
}

.expand-screen2 {
  width: 100%;
  height: 100dvh;
  background: #7f1f4f;
  color: #fff;
}

.expand-screen3 {
  width: 100%;
  height: 100dvh;
  background: #eb8723;
  color: #fff;
}


@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes icon-fade-out {
  0%, 100% {
    opacity: 1;
    transform: translateY(-20px);
  }

  50% {
    opacity: .5;
    transform: translateY(0);
    transform: scale(0.85);
  }
}
