.header {
  display: flex;
  box-sizing: border-box;
  background-color: #fffc;
  padding: 16px 32px;
  min-height: 80px;
  border: 1px solid #0f172a1a;
  line-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top .8s ease;
}

.slide-out {
  top: -100%; /* 假设导航栏高度为视口的100%，这会让header完全滑出视口 */
}

.slide-in {
  top: 0; /* 恢复到原始位置 */
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .logo {
    flex-shrink: 0;
  }

  .nav {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  button {
    padding: 0 18px;

    &:last-child {
      margin-right: 5px;
    }
  }
}
