@use "sass:color";

ul.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 20px;

  li.nav-item a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 46px;
    color: #515767;

    &:hover {
      color: color.adjust(#1772f6, $lightness: 10%);
    }

    &:active {
      color: color.adjust(#1772f6, $lightness: -10%);
    }
  }
}
