.container {
  box-sizing: border-box;
  display: flex;
  margin: 120px auto 20px;
  padding: 24px 0;
  width: 1200px;
  min-height: 100dvh;
  gap: 10px;
  background-color: #fff;
  border-radius: 16px;

  .left {
    width: 160px;
    padding: 1rem;
  }
  
  .right {
    flex: 1;
    padding: 1rem;
    border: 1px dashed lightgray;
  }
}
