.container {
  min-height: 220px;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
  line-height: 24px;
  user-select: none;
  background-color: #fffc;
  border-top: 1px solid #0f172a1a;

  p {
    color: #475569;
    font-size: 14px;
    font-weight: 200;
  }

  .runtime {
    width: 300px;
    margin: auto;
    padding-inline: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0 0 0 / 70%);
    font-family: 'UniDream LED', sans-serif;
  }

  .badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
}
