@import "@/assets/fonts/douyu/fonts.css";
@import "@/assets/fonts/unidream/fonts.css";
@import "@/assets/fonts/consolas/fonts.css";
@import "@/assets/fonts/pressstart/fonts.css";

body,
h1,
h2,
h3,
h4,
h5,
h6
{
  margin : 0;
  padding: 0;
}

body {
  font-size  : 14px;
  font-style : normal;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
}

a {
  text-decoration            : none;
  background-color           : transparent;
  -webkit-tap-highlight-color: rgba(0 0 0 / 0%);
}

a:hover,
a:active {
  outline-width  : 0;
  text-decoration: none;
}
